AI Models used:
    1. Simple AI - 
    2. Heuristic AI - Decides based on logics
    3. Monte Carlo AI (Rollout) - Runs 200-400 simualtions and decides based on that

TODO:
1. Spectators action buttons should be grey scaled or not visible.
